<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	   id="cordova-plugin-notification"
      version="0.0.1-dev">
    <name>Notification</name>
    <description>Notification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,notification</keywords>

    <dependency id="de.appplant.cordova.plugin.local-notification" />
    <dependency id="cordova-plugin-service-worker" url="https://github.com/MobileChromeApps/cordova-plugin-service-worker.git" />

    <js-module src="www/Notification.js" name="Notification">
	<clobbers target="Notification" />
    </js-module>

    <asset src="www/sw_assets/notificationassets.js" target="sw_assets/notificationassets.js" />
    <asset src="www/sw_assets/notificationevent.js" target="sw_assets/notificationevent.js" />

    <platform name="ios">
	<config-file target="config.xml" parent="/*">
	    <feature name="Notification">
		<param name="ios-package" value="CDVNotification" />
	    </feature>
	</config-file>
	<source-file src="src/ios/CDVNotification.m" />
    </platform>
</plugin>
