<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	   id="org.apache.cordova.notification"
      version="0.0.1-dev">
    <name>Notification</name>
    <description>Notification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,notification</keywords>

    <dependency id="de.appplant.cordova.plugin.local-notification" url="https://github.com/katzer/cordova-plugin-local-notifications.git" />
    <dependency id="org.apache.cordova.serviceworker" url="https://github.com/MobileChromeApps/cordova-plugin-serviceworker.git" />

    <js-module src="www/Notification.js" name="Notification">
	<clobbers target="Notification" />
    </js-module>
    <js-module src="www/Assets.js" name="Assets">
	<clobbers target="" />
    </js-module>

    <asset src="www/sw_assets/notificationassets.js" target="sw_assets/notificationassets.js" />
    <asset src="www/sw_assets/notificationevent.js" target="sw_assets/notificationevent.js" />

    <platform name="ios">
	<config-file target="config.xml" parent="/*">
	    <feature name="Notification">
		<param name="ios-package" value="CDVNotification" />
	    </feature>
	</config-file>
	<header-file src="src/ios/CDVNotification.h" />
	<source-file src="src/ios/CDVNotification.m" />
    </platform>
</plugin>
